@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(237, 236, 236);
}

/* #fullForm {
  font-family: "Roboto", sans-serif;
  width: 90%;
  margin: auto;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(173, 173, 173);
  padding: 10px;
  background-color: #ffff;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgb(206, 206, 206);
} */

div {
  padding: 2px;
}

#iliotLogo {
  width: 50px;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  /* font-size: 22px; */
  margin-bottom: 20px;
}

input {
  width: 80%;
  height: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 3px;
  border: none;
  border-bottom: 1px solid rgb(171, 171, 171);
  border-radius: 2px;
}

label {
  margin-right: 10px;
}
p {
  font-size: 10px;
  text-align: left;
  margin:auto;
  margin-left: 0px;
}

textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  /* font-size: 14px; */
  resize: none;
}

::placeholder {
  color: rgba(160, 160, 160, 0.664);
}

.solid {
  margin: 10px 0px;
}

/* HEADER */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237, 236, 236);
  padding: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

/* TITULO E LOGO */

#logoAndTitle {
  align-items: center;
  text-align: center;
  justify-content: center;
  /* font-size: 18px; */
  display: grid;
  grid-template-columns: 15% 70% 7.5% 7.5%;
}

#logoAndTitle button {
  background-color: #546df8ea;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* font-size: 160%; */
  height: 44px;
  outline: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  touch-action: manipulation;
  width: 50px;
  margin: auto;
}

#logoAndTitle img {
  margin-right: 25px;
  margin: auto;
}

/* FORMULARIOS INICIAIS DO HEADER */

#razaoNome_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  margin-bottom: 10px;
  width: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#razaoSocial {
  display: grid;
  grid-template-columns: 25% 75%;
}

#nome_grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

#cnpjDatas_grid {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  text-align: center;
}

#cnpj_grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

#dataValidade_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

#dataProposta_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

#validadeProposta_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* PACOTE BASICO */

#DIVSubtitulos {
  display: grid;
  grid-template-columns: 50% 50%;
}

#DIVSubtitulos p {
  text-align: center;
  /* font-size: 14px; */
  font-weight: 700;
  margin-bottom: 20px;
}

#subtituloFSM div {
  display: grid;
  grid-template-columns: 50% 50%;

  text-align: right;
}

#subtituloPCM div {
  display: grid;
  grid-template-columns: 50% 50%;

  text-align: right;
}

/* MIDDLE DIV */

#DIVendPacoteBasico {
  margin-top: 20px;
}

#DIVendPacoteBasico div label {
  line-height: 24px;
  text-align: right;
}
#DIVendPacoteBasico div input {
  margin: auto;
}

#mensalidade_grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

#taxa_grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

/* PACOTE OPCIONAL  */

#DIV1PacoteOpcional div {
  justify-content: center;
  display: grid;
  grid-template-columns: 25% 5% 18% 27%;
}

#checkBox1,
#checkBox2,
#checkBox3,
#checkBox4,
#checkBox5,
#checkBox6 {
  margin: auto;
  height: 60%;
  justify-content: right;
  align-items: right;
  text-align: right;

  margin-left: 10px !important;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 5px;
}

#setupWhiteLabel,
#mensalidadeWhiteLabel,
#dashboardAvancado,
#sla,
#horaDesenvolvimento {
  margin: auto;
}

#DIV1PacoteOpcional div input {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#DIV1PacoteOpcional div label {
  margin: 0px;
  text-align: right;
  line-height: 28px;
}

#DIV1PacoteOpcional div p {
  text-align: left;
  width: 80%;
  justify-content: left;
  line-height: 23px;
}


#qntHorasDev {
  width: 50%;
  margin: auto;
  margin-left: 0px;
}

#DIV2PacoteOpcional {
  margin-top: 25px;
}

#DIV2PacoteOpcional div {
  justify-content: center;
}

#DIV2PacoteOpcional div label {
  text-align: right;
  margin: 0px;
  line-height: 24px;
}

#DIV2PacoteOpcional div input {
  margin: auto;
}

#DIV2PacoteOpcional div p {
  text-align: left;
  /* font-size: 80%; */
  /* line-height: 24px; */
}

#mensalidadeOpcional_grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

#whiteLabel_grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

#dev_grid {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

/* DIV DE COMENTARIO */

#DIVComment {
  /* background-color: rgb(80, 255, 124); */
  padding: 0px;
  text-align: center;
  margin:auto;
}

#DIVComment p {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* DIV DAS ULTIMAS FORMS */

#DIVFinalForms div label {
  text-align: right;
}

#separa_grid1 div {
  width: 90%;
  margin: auto;
  display: block;
}

#DIVFinalForms div p {
  text-align: left;
}
#DIVFinalForms input {
  margin: auto;
}
#DIVFinalForms label {
  line-height: 24px;
}

#DIVResumo {
  margin-bottom: 20px;
  margin-top: 10px;
}

#fimTaxa_grid {
  display: grid;
  grid-template-columns: 25% 20% 30%;
  justify-content: center;
  margin: auto;
}

#fimMensalidade_grid {
  display: grid;
  grid-template-columns: 25% 20% 30%;

  justify-content: center;
  margin: auto;
}

#taxaUnica_grid {
  display: grid;
  grid-template-columns: 25% 20% 30%;

  justify-content: center;
  margin: auto;
}

/* FINAL FIELDS */

#DIVFinalFields {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

#obsAdicionais {
  width: 90%;
  height: 129px;
}

/* DIV FINAL COM DADOS EXTRA */

#DIVEnd {
  /* background-color: rgb(210, 255, 48); */
  display: grid;
  grid-template-columns: 70% 30%;

  text-align: center;
  padding: 10px;
}

#contatoFinal {
  width: 100%;
  margin: auto;
  justify-content: center;
  /* font-size: 60%; */
}

#finalText {
  width: 80%;
  margin: auto;
  /* font-size: 60%; */
  justify-content: center;
  margin-right: 30px;
}

#separa_grid1 {
  width: 100%;
}

#separa_grid1 div{
  justify-content: center;
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
  margin: auto;
}
